:focus {outline:none;} ::-moz-focus-inner {border:0;}

a {
    /* Link Color for Title (Might Break Future Links) */
    color: inherit;
    text-decoration: inherit;
  }

body {
    background-color: rgb(14, 14, 82, .90);
    color: #ffffff;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Veranda", sans-serif;
    display: flex;
}

h3 {
    width: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

h4 {
    /* float: right; */
    display: flex;
    width: auto;
    /* margin-right: 350px; */
    margin-top: 124px;
    text-align: center;
    font-size: 40px;
    justify-content: center;
}

#pcBody {
    margin-bottom: 265px;
}

#cableBody {
    margin-bottom: 265px;
}

p {
    /* margin-top: 90px; */
    /* margin-bottom: 50px; */
    display: block;
    margin-block-start: 0%;
    /* justify-content: center; */
}

/* .launchBtn.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 104px;
    height: 348;
    right: 0;
    bottom: 0;
    left: 0;
  } */

/* .elementToFadeInAndOut {
    animation: fadeInOut 6s linear forwards;
}

@keyframes fadeInOut {
    100% { opacity:0; }
    50% { opacity:1; }
    0% { opacity:0; } 
  
} */

footer {
    background-color: black;
    float: bottom;
    /* display: flex; */
    /* align-items: flex-start; */
    height: 100px;
    width: 1280px;
    /* padding: 0px 4px; */
}

.title {
    /* Sizing and Position */
    box-sizing: border-box;
    padding: 10px 0;
    border: none;
    /* border-top: 2px solid white; */
    /* border-bottom: 2px solid white; */
    background-color: rgb(128, 128, 128, .90);
    width: 1280px;
    margin: 0 auto;
    position: relative;
    /* top: 20px; */
    /* Font Choice */
    font-size: 70px;
    color: black;
    text-emphasis: bold;
    text-align: center;
}

button {
    margin: 5px;
    background-color: #7b6d8d6e;
    border: none;
    width: 150px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 80px;
    align-items: center;
    justify-content: space-around;
    float: center;
    display: block;
}

#kpBtn1 {
    /* margin: 25px; */
    height: 90px;
    width: 90px;
    /* font-size: 12px; */
    border-radius: 100%;
}

#kpBtn2 {
    /* margin: 25px; */
    height: 90px;
    width: 90px;
    /* font-size: 12px; */
    border-radius: 100%;
}

#kpBtn3 {
    /* margin: 25px; */
    height: 90px;
    width: 90px;
    /* font-size: 12px; */
    border-radius: 100%;
}
#kpBtn4 {
     /* margin: 25px; */
     height: 90px;
     width: 90px;
     /* font-size: 12px; */
     border-radius: 100%;
}

#kpBtn5 {
        /* margin: 25px; */
        height: 90px;
        width: 90px;
        /* font-size: 12px; */
        border-radius: 100%;
}



.launchBtn {
    transition-duration: 0.6s;
    transition-property: all;
    float: inherit;
}

.srcBtn {
    float: left;
    align-items: flex-start;
    margin-left: 5px;
}

.footBtnL {
    background-color: black;
    float: left;
    margin: 0;
    padding-bottom: 0;
    border-radius: 0;
    height: 100px;
    font-size: 60px;
}

#footBtnB {
    font-size: 40px;
    width: 100px;
}

#footBtnF {
    margin-left: 275px;
    width: 200px;
}


.footBtnR {
    background-color: black;
    margin: 0;
    padding-bottom: 0;
    border-radius: 0;
    height: 100px;
    font-size: 60px;
    float: right;
}
.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 25px;
    margin-bottom: 45px;
    
  }
  .keypad {
    flex: 0 0 100px;                       /* don't grow, don't shrink, width */
    height: 100px;
    /* background-color: rgb(145, 19, 107); */
    margin: 1px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100px;                       /* don't grow, don't shrink, width */
    height: 100px;
    margin-top: 5px;
  }